---
layout: page
title: "About"
description: "Hey, this is me."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>弹弹吉他，写写代码，焊焊板子，猝猝死。<br>
    爱生活，更爱体验生活。</p></blockquote>

    <p>Hey，我是<strong>邵国际</strong>，一名大四学生，就读于<a href="http://www.zhku.edu.cn/">仲恺农业工程学院</a> ·计算机科学与技术 2014 级，热爱物联网，擅长动手，喜欢弹吉他。虽然是个只玩过单片机的渣渣，但一直想做出好玩有趣的东西（软/硬件），并享受其中的乐趣。目前在深圳开拓视野，并不断学习嵌入式开发技术。</p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p><br>
    </p></blockquote>

    <p>My name is <strong>Shao Guoji(邵国际)</strong>. I'm a senior, studied Computer science and technology in <a href="http://www.zhku.edu.cn/">Zhongkai University of Agriculture and Engineering</a>. I like playing the guitar and making things. I desire to create something interesting and helpful(software or hardware) for people with my poor knowledge. I enjoy the pleasure of DIY. As a embedded beginner, I studing embedded development in Shenzhen right now.</p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>

<!-- gitment评论 BEGIN  -->
<div id="gitment"></div>
<link rel="stylesheet" href="{{ "/css/default.css" | prepend: site.baseurl }}">
<script src="{{ "/js/gitment.browser.js " | prepend: site.baseurl }}"></script>
{% if site.gitment_share && site.gitment_username %}
<script> 
var gitment = new Gitment({
     owner: "{{site.gitment_username}}",
     repo: "{{site.gitment_repo}}",
     oauth: {
         client_id: "{{site.gitment_client_id}}",
         client_secret: "{{site.gitment_client_secret}}",
     },
})
gitment.render('gitment')
</script>
<!-- gitment评论 END -->
{% endif %}

{% if site.gentie_share && site.gentie_product_key %}
<!-- 网易云跟帖 BEGIN  -->
<div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
<script>
var cloudTieConfig = {
    url: document.location.href, 
    sourceId: "",
    productKey: "{{site.gentie_product_key}}",
    target: "cloud-tie-wrapper"
};
</script>
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<!-- 网易云跟帖 BEGIN -->
{% endif %}

{% if site.youyan_share %}
<!-- 友言UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2128031"></script>
<!-- 友言UY END -->
{% endif %}

{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
