---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>

<!-- 回到顶部按钮 -->	
<a name="top"></a>
<a href="#top" style="display:block; width:37px; height:33px; border:1px solid #000; position:fixed; right:200px; bottom:200px;"><img src="http://img1.buy.ijinshan.com/weibo_img/2016/1/31/21/35/r1454247316246633804405.png" alt=""></a>
<script type="text/javascript" src="{{site.baseurl}}/JavaScript/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/JavaScript/jquery.smooth-scroll.min.js"></script>
<script type="text/javascript">
$(function(){
	$("a").smoothScroll();
})
</script>